{%extends 'base.html'%}
{% load static%}

{% block content%}

  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Papular Companies -->
    <section class="padding-bottom-100">
      <div class="compny-profile"> 
        <!-- SUB Banner -->
        <div class="profile-bnr">
          <div class="container"> 
            
            <!-- User Iinfo -->
            <div class="user-info">
              <div class="col-left">
                <div class="user-in">
                  <h1>{{company.name}} <a class="veri" href="companies-detail.html#." data-toggle="tooltip" data-placement="top" title="Verified"> <i class="fa fa-check"></i> </a> </h1>
                  <h6>{{company.title}}</h6>
                  <p>{{company.address}} ( <a href="companies-detail.html#.">View Location</a> )</p>
                  
                  <!-- Followers -->
                  <div class="followr">
                    <ul class="row">
                      <li class="col-sm-6">
                        <p>Followers <span>(512)</span></p>
                      </li>
                      <li class="col-sm-6">
                        <p>Following <span>(1874)</span></p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              
              <!-- Col Info -->
              <div class="col-left">
                <div class="user-in">
                  <div class="right-top-bnr">
                    <div class="connect"> <a href="companies-detail.html#." data-toggle="modal" data-target="#myModal"><i class="fa fa-user-plus"></i> Contact Company</a> <a href="companies-detail.html#."><i class="fa fa-user-plus"></i> Follow</a> </div>
                  </div>
                  
                  <!-- Social Icon -->
                  <div class="social-links"> <a href="companies-detail.html#."><i class="fab fa-facebook-f"></i></a> <a href="companies-detail.html#."><i class="fab fa-twitter"></i></a> <a href="companies-detail.html#."><i class="fab fa-google"></i></a> <a href="companies-detail.html#."><i class="fab fa-linkedin-in"></i></a> <a href="companies-detail.html#."><i class="far fa-bookmark"></i> </a> <a href="companies-detail.html#."><i class="far fa-envelope"></i> </a> <a href="companies-detail.html#." class="float-right margin-right-0" data-toggle="tooltip" data-placement="top" title="Reports"><i class="fa fa-exclamation"></i> </a> </div>
                  
                  <!-- Stars -->
                  <ul class="row">
                    <li class="col-sm-6">
                      <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span>(67)</span> </div>
                    </li>
                    <li class="col-sm-6">
                      <p><i class="fa fa-bookmark-o"></i>&nbsp; 28 Bookmarks</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Modal POPUP -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <h6><a class="close" href="companies-detail.html#." data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a> Send Message</h6>
                <!-- Forms -->
                <form action="#">
                  <ul class="row">
                    <li class="col-md-6">
                      <input type="text" placeholder="First Name" class="form-control">
                    </li>
                    <li class="col-md-6">
                      <input type="text" placeholder="Last Name" class="form-control">
                    </li>
                    <li class="col-md-6">
                      <input type="text" placeholder="Country" class="form-control">
                    </li>
                    <li class="col-md-6">
                      <input type="text" placeholder="Email" class="form-control">
                    </li>
                    <li class="col-md-12">
                      <textarea placeholder="Your Message" class="form-control"></textarea>
                    </li>
                    <li class="col-md-12 text-center">
                      <button class="btn">Send message</button>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Profile Company Content -->
        <div class="profile-company-content main-user">
          <div class="container"> 
            
            <!-- Nav Tabs -->
            <div class="navi-sticky">
              <div class="sticky">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li><a class="nav-link active" data-toggle="tab" href="companies-detail.html#about" role="tab" aria-selected="true">About</a> </li>
                  <li><a class="nav-link" data-toggle="tab" href="companies-detail.html#services" role="tab" aria-selected="true">Services</a> </li>
                  <li><a class="nav-link" data-toggle="tab" href="companies-detail.html#portfolio" role="tab" aria-selected="true">Portfolio</a> </li>
                  <li><a class="nav-link" data-toggle="tab" href="companies-detail.html#jobs" role="tab" aria-selected="true">Jobs</a> </li>
                  <li><a class="nav-link" data-toggle="tab" href="companies-detail.html#contact" role="tab" aria-selected="true">Contact</a> </li>
                  <li><a class="nav-link" data-toggle="tab" href="companies-detail.html#support" role="tab" aria-selected="true">Support</a> </li>
                  <li><a class="nav-link" data-toggle="tab" href="companies-detail.html#folow" role="tab" aria-selected="true">Followers<small>(6)</small></a> </li>
                  <li><a class="nav-link" data-toggle="tab" href="companies-detail.html#folowng" role="tab" aria-selected="true">Following<small>(120)</small></a> </li>
                </ul>
              </div>
            </div>
            <div class="row"> 
              <!-- SIDE BAR -->
              <div class="col-lg-4"> 
                
                <!-- Company Information -->
                <div class="sidebar"> 
                  
                  <!-- Heading for mobile Collapse -->
                  <h5 class="main-title">Company Information</h5>
                  <div class="navbar-expand-lg"> 
                    <!-- Heading for mobile Collapse --> 
                    <a class="collapsed main-title fr-mob" data-toggle="collapse" data-target="#cmpny-info" aria-expanded="false"> Company Information </a>
                    <div class="collapse navbar-collapse" id="cmpny-info">
                      <div class="side-bar-indide"> 
                        
                        <!-- Company Images -->
                        <div class="compny-thumbnail"> <img class="img-responsive" src="images/company-img-1.jpg" alt=""> </div>
                        
                        <!-- Company Information -->
                        <div class="sidebar-information">
                          <ul class="single-category">
                            <li>
                              <h6 class="title">Industry</h6>
                              <span class="subtitle">Information Technology</span> </li>
                            <li>
                              <h6 class="title">Location</h6>
                              <span class="subtitle">Melbourne, Australia</span> </li>
                            <li>
                              <h6 class="title">Employees</h6>
                              <span class="subtitle">21,245</span> </li>
                            <li>
                              <h6 class="title">Legal Entity</h6>
                              <span class="subtitle">Gesselschaft</span> </li>
                            <li>
                              <h6 class="title">Company Registration</h6>
                              <span class="subtitle">HFR67656</span> </li>
                            <li>
                              <h6 class="title">Operating Hours</h6>
                              <span class="subtitle">10:00 AM - 5:00 PM</span> </li>
                            <li>
                              <h6 class="title">Contacts</h6>
                              <div class="subtitle"><a href="companies-detail.html#.">example@example.com</a> </div>
                            </li>
                            <li>
                              <h6 class="title">Website</h6>
                              <div class="subtitle"> <a href="https://webicode.com" target="_blank">https://webicode.com</a> </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- Company Rating -->
                <div class="sidebar">
                  <h5 class="main-title">Company Rating</h5>
                  <div class="navbar-expand-lg"> 
                    <!-- Heading for mobile Collapse --> 
                    <a class="collapsed main-title fr-mob" data-toggle="collapse" data-target="#cmpny-rtng" aria-expanded="false"> Company Rating </a>
                    <div class="collapse navbar-collapse" id="cmpny-rtng">
                      <div class="side-bar-indide">
                        <div class="sidebar-information">
                          <ul class="single-category com-rate">
                            <li>
                              <h6 class="title">Expertise:</h6>
                              <span class="subtitle"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fas fa-star-half-alt"></i> </span> </li>
                            <li>
                              <h6 class="title">Knowledge:</h6>
                              <span class="subtitle"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> </span> </li>
                            <li>
                              <h6 class="title">Quality:</h6>
                              <span class="subtitle"><i class="fas fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fas fa-star-half-alt"></i> </span> </li>
                            <li>
                              <h6 class="title">Price:</h6>
                              <span class="subtitle"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> <i class="far fa-star"></i> </span> </li>
                            <li>
                              <h6 class="title">Services:</h6>
                              <span class="subtitle"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> </span> </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Tab Content -->
              <div class="col-lg-8">
                <div class="tab-content"> 
                  
                  <!-- About Company -->
                  <div id="about" class="tab-pane fade show active">
                    <div class="profile-main">
                      <h3>About the Company</h3>
                      <div class="profile-in">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus 
                          similique aliquidautem laudantium sapiente ad enim ipsa modi labo rum accusantium deleniti neque. </p>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nihil, dolores, culpa ullam vero ipsum placeat 
                          accusamus nemoitate id molestiae consectetur quae pariatur repudi andae vel ex quaerat nam iusto aliquid 
                          laborum quia adipisci aut ut imcati nisi deleniti tempore maxime sequi fugit reiciendis libero quo. Rerum
                          assumenda.</p>
                        <!-- Video -->
                        <iframe class="margin-bottom-30" src="https://www.youtube.com/embed/uVju5--RqtY"></iframe>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, maxime, excepturi, mollitia, voluptatibus 
                          similique aliquidautem laudantium sapiente ad enim ipsa modi labo rum accusantium deleniti neque. </p>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nihil, dolores, culpa ullam vero ipsum placeat 
                          accusamus nemoitate id molestiae consectetur quae pariatur repudi andae vel ex quaerat nam iusto aliquid 
                          laborum quia adipisci aut ut imcati nisi deleniti tempore maxime sequi fugit reiciendis libero quo. Rerum
                          assumenda.</p>
                      </div>
                    </div>
                  </div>
                  <div id="services" class="tab-pane fade">
                    <div class="profile-main">
                      <h3>Services</h3>
                      <div class="profile-in">
                        <div class="row"> 
                          
                          <!-- Icon -->
                          <div class="col-md-6">
                            <div class="icon-box ib-style-5 ib-center ib-text-alt ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-circle">
                              <div class="ib-icon"> <i class="far fa-gem"></i> </div>
                              <div class="ib-info">
                                <h4 class="h6">Web Design</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </p>
                                <a href="companies-detail.html#">Contact Now </a> </div>
                            </div>
                          </div>
                          
                          <!-- Icon -->
                          <div class="col-md-6">
                            <div class="icon-box ib-style-5 ib-center ib-text-alt ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-circle">
                              <div class="ib-icon"> <i class="fas fa-anchor"></i> </div>
                              <div class="ib-info">
                                <h4 class="h6">Motion Graphic</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </p>
                                <a href="companies-detail.html#">Contact Now </a> </div>
                            </div>
                          </div>
                          
                          <!-- Icon -->
                          <div class="col-md-6">
                            <div class="icon-box ib-style-5 ib-center ib-text-alt ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-circle">
                              <div class="ib-icon"> <i class="fab fa-viacoin"></i> </div>
                              <div class="ib-info">
                                <h4 class="h6">Branding Design</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </p>
                                <a href="companies-detail.html#">Contact Now </a> </div>
                            </div>
                          </div>
                          
                          <!-- Icon -->
                          <div class="col-md-6">
                            <div class="icon-box ib-style-5 ib-center ib-text-alt ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-circle">
                              <div class="ib-icon"> <i class="fa fa-trophy"></i> </div>
                              <div class="ib-info">
                                <h4 class="h6">Google Sell</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </p>
                                <a href="companies-detail.html#">Contact Now </a> </div>
                            </div>
                          </div>
                          
                          <!-- Icon -->
                          <div class="col-md-6">
                            <div class="icon-box ib-style-5 ib-center ib-text-alt ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-circle">
                              <div class="ib-icon"> <i class="fa fa-anchor"></i> </div>
                              <div class="ib-info">
                                <h4 class="h6">Motion Graphic</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </p>
                                <a href="companies-detail.html#">Contact Now </a> </div>
                            </div>
                          </div>
                          
                          <!-- Icon -->
                          <div class="col-md-6">
                            <div class="icon-box ib-style-5 ib-center ib-text-alt ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-circle">
                              <div class="ib-icon"> <i class="far fa-gem"></i> </div>
                              <div class="ib-info">
                                <h4 class="h6">Branding Design</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </p>
                                <a href="companies-detail.html#">Contact Now </a> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- PORTFOLIO -->
                  <div id="portfolio" class="tab-pane fade">
                    <div class="profile-main">
                      <h3>Portfolio</h3>
                      <div class="profile-in portfolio"> 
                        
                        <!-- PORTFOLIO ITEMS -->
                        <div class="items item-space row animate fadeInUp" data-wow-delay="0.4s"> 
                          
                          <!-- ITEM -->
                          <article class="portfolio-item pf-web-design">
                            <div class="portfolio-image"> <a href="companies-detail.html#."> <img class="img-responsive" alt="Open Imagination" src="images/img-1.jpg"> </a>
                              <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                  <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <hr class="balck">
                                    <span><a href="companies-detail.html#.">Fashion / trending</a></span> <a href="companies-detail.html#." class="go"><i class="fa fa-search"></i></a> <a href="companies-detail.html#." class="go"><i class="fa fa-link"></i></a> </div>
                                </div>
                              </div>
                            </div>
                          </article>
                          
                          <!-- ITEM -->
                          <article class="portfolio-item pf-photography pf-branding-design">
                            <div class="portfolio-image"> <a href="companies-detail.html#."> <img class="img-responsive" alt="Open Imagination" src="images/img-2.jpg"> </a>
                              <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                  <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <hr class="balck">
                                    <span><a href="companies-detail.html#.">Fashion / trending</a></span> <a href="companies-detail.html#." class="go"><i class="fa fa-search"></i></a> <a href="companies-detail.html#." class="go"><i class="fa fa-link"></i></a> </div>
                                </div>
                              </div>
                            </div>
                          </article>
                          
                          <!-- ITEM -->
                          <article class="portfolio-item pf-web-design pf-branding-design">
                            <div class="portfolio-image"> <a href="companies-detail.html#."> <img class="img-responsive" alt="Open Imagination" src="images/img-3.jpg"> </a>
                              <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                  <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <hr class="balck">
                                    <span><a href="companies-detail.html#.">Fashion / trending</a></span> <a href="companies-detail.html#." class="go"><i class="fa fa-search"></i></a> <a href="companies-detail.html#." class="go"><i class="fa fa-link"></i></a> </div>
                                </div>
                              </div>
                            </div>
                          </article>
                          
                          <!-- ITEM -->
                          <article class="portfolio-item pf-web-design pf-digital-art ">
                            <div class="portfolio-image"> <a href="companies-detail.html#."> <img class="img-responsive" alt="Open Imagination" src="images/img-4.jpg"> </a>
                              <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                  <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <hr class="balck">
                                    <span><a href="companies-detail.html#.">Fashion / trending</a></span> <a href="companies-detail.html#." class="go"><i class="fa fa-search"></i></a> <a href="companies-detail.html#." class="go"><i class="fa fa-link"></i></a> </div>
                                </div>
                              </div>
                            </div>
                          </article>
                          
                          <!-- ITEM -->
                          <article class="portfolio-item pf-branding-design pf-digital-art">
                            <div class="portfolio-image"> <a href="companies-detail.html#."> <img class="img-responsive" alt="Open Imagination" src="images/img-5.jpg"> </a>
                              <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                  <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <hr class="balck">
                                    <span><a href="companies-detail.html#.">Fashion / trending</a></span> <a href="companies-detail.html#." class="go"><i class="fa fa-search"></i></a> <a href="companies-detail.html#." class="go"><i class="fa fa-link"></i></a> </div>
                                </div>
                              </div>
                            </div>
                          </article>
                          
                          <!-- ITEM -->
                          <article class="portfolio-item pf-design pf-digital-art">
                            <div class="portfolio-image"> <a href="companies-detail.html#."> <img class="img-responsive" alt="Open Imagination" src="images/img-9.jpg"> </a>
                              <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                  <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <hr class="balck">
                                    <span><a href="companies-detail.html#.">Fashion / trending</a></span> <a href="companies-detail.html#." class="go"><i class="fa fa-search"></i></a> <a href="companies-detail.html#." class="go"><i class="fa fa-link"></i></a> </div>
                                </div>
                              </div>
                            </div>
                          </article>
                          
                          <!-- ITEM -->
                          <article class="portfolio-item pf-web-design pf-branding-design">
                            <div class="portfolio-image"> <a href="companies-detail.html#."> <img class="img-responsive" alt="Open Imagination" src="images/img-7.jpg"> </a>
                              <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                  <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <hr class="balck">
                                    <span><a href="companies-detail.html#.">Fashion / trending</a></span> <a href="companies-detail.html#." class="go"><i class="fa fa-search"></i></a> <a href="companies-detail.html#." class="go"><i class="fa fa-link"></i></a> </div>
                                </div>
                              </div>
                            </div>
                          </article>
                          
                          <!-- ITEM -->
                          <article class="portfolio-item pf-web-design pf-digital-art ">
                            <div class="portfolio-image"> <a href="companies-detail.html#."> <img class="img-responsive" alt="Open Imagination" src="images/img-8.jpg"> </a>
                              <div class="portfolio-overlay style-4">
                                <div class="detail-info">
                                  <div class="position-center-center">
                                    <h3 class="no-margin">Assembly Branding</h3>
                                    <hr class="balck">
                                    <span><a href="companies-detail.html#.">Fashion / trending</a></span> <a href="companies-detail.html#." class="go"><i class="fa fa-search"></i></a> <a href="companies-detail.html#." class="go"><i class="fa fa-link"></i></a> </div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Jobs -->
                  <div id="jobs" class="tab-pane fade">
                    <div class="profile-main">
                      <h3>Jobs from the Company</h3>
                      <div class="profile-in">
                        <div class="header-listing">
                          <div class="custom-select-box">
                            <select name="order" class="custom-select">
                              <option value="0">Most popular</option>
                              <option value="1">The latest</option>
                              <option value="2">The best rating</option>
                            </select>
                          </div>
                        </div>
                        
                        <!-- Job Board Companies -->
                        <div class="listing-ver-3">
                          <div class="listing-heading">
                            <h5><a href="companies-detail.html#.">php Developer</a></h5>
                          </div>
                          <div class="listing-inner">
                            <div class="listing-content">
                              <h6 class="title-company"><strong>Company:</strong> webicode Telecommunications Inc.</h6>
                              <span class="location"> <i class="fa fa-map-marker"></i> Manhattan, New york, USA </span> <span class="type-work full-time"><i class="fa fa-clock-o"></i> Full Time </span> <span class="type-work full-time"><i class="fa fa-clock-o"></i> 6 hours ago</span> 
                              
                              <!-- Apply Now -->
                              <div class="aply"> <a href="companies-detail.html#." class="btn">Apply Now</a> </div>
                            </div>
                          </div>
                        </div>
                        
                        <!-- Job Board Companies -->
                        <div class="listing-ver-3">
                          <div class="listing-heading">
                            <h5><a href="companies-detail.html#.">Responsive Web Designer</a></h5>
                          </div>
                          <div class="listing-inner">
                            <div class="listing-content">
                              <h6 class="title-company"><strong>Company:</strong> webicode Telecommunications Inc.</h6>
                              <span class="location"> <i class="fa fa-map-marker"></i> Manhattan, New york, USA </span> <span class="type-work full-time"><i class="fa fa-clock-o"></i> Full Time </span> <span class="type-work full-time"><i class="fa fa-clock-o"></i> 6 hours ago</span> 
                              
                              <!-- Apply Now -->
                              <div class="aply"> <a href="companies-detail.html#." class="btn">Apply Now</a> </div>
                            </div>
                          </div>
                        </div>
                        
                        <!-- Job Board Companies -->
                        <div class="listing-ver-3">
                          <div class="listing-heading">
                            <h5><a href="companies-detail.html#.">Front-End Web Developer</a></h5>
                          </div>
                          <div class="listing-inner">
                            <div class="listing-content">
                              <h6 class="title-company"><strong>Company:</strong> webicode Telecommunications Inc.</h6>
                              <span class="location"> <i class="fa fa-map-marker"></i> Manhattan, New york, USA </span> <span class="type-work full-time"><i class="fa fa-clock-o"></i> Full Time </span> <span class="type-work full-time"><i class="fa fa-clock-o"></i> 6 hours ago</span> 
                              
                              <!-- Apply Now -->
                              <div class="aply"> <a href="companies-detail.html#." class="btn">Apply Now</a> </div>
                            </div>
                          </div>
                        </div>
                        
                        <!-- Job Board Companies -->
                        <div class="listing-ver-3 margin-bottom-0">
                          <div class="listing-heading">
                            <h5><a href="companies-detail.html#.">Creative UI/UX Designer</a></h5>
                          </div>
                          <div class="listing-inner">
                            <div class="listing-content">
                              <h6 class="title-company"><strong>Company:</strong> webicode Telecommunications Inc.</h6>
                              <span class="location"> <i class="fa fa-map-marker"></i> Manhattan, New york, USA </span> <span class="type-work full-time"><i class="fa fa-clock-o"></i> Full Time </span> <span class="type-work full-time"><i class="fa fa-clock-o"></i> 6 hours ago</span> 
                              
                              <!-- Apply Now -->
                              <div class="aply"> <a href="companies-detail.html#." class="btn">Apply Now</a> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Contact -->
                  <div id="contact" class="tab-pane fade">
                    <div class="profile-main">
                      <h3>Contact the Company</h3>
                      <div class="profile-in">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate quis tenetur velit! Provident eum molestias aperiam suscipit distinctio ipsum cupiditate quasi, dolor sunt, cum reprehenderit quibusdam, repellendus eaque, quas magni.</p>
                        <form action="#" class="contact-company">
                          <ul class="row">
                            <li class="col-sm-6">
                              <input type="text" placeholder="Full Name " class="form-control">
                            </li>
                            <li class="col-sm-6">
                              <input type="text" placeholder="E-mail address" class="form-control">
                            </li>
                            <li class="col-sm-6">
                              <input type="text" placeholder="Phone Number" class="form-control">
                            </li>
                            <li class="col-sm-6">
                              <input type="text" placeholder="Subject" class="form-control">
                            </li>
                            <li class="col-sm-12">
                              <textarea placeholder="Your Message" class="form-control"></textarea>
                            </li>
                          </ul>
                          <button class="btn">Send message</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Support -->
                  <div id="support" class="tab-pane fade">
                    <div class="profile-main">
                      <h3>Support</h3>
                      <div class="profile-in"> </div>
                    </div>
                  </div>
                  
                  <!-- Follows -->
                  <div id="folow" class="tab-pane fade">
                    <div class="profile-main">
                      <h3>Followers(6)</h3>
                      <div class="profile-in"> 
                        
                        <!-- Follows -->
                        <div class="followers-sec">
                          <ul>
                            <!-- Follows -->
                            <li>
                              <div class="inside">
                                <div class="thumb"> <img src="images/comp-img.png" alt="" class="img-responsive"> </div>
                                <h4>Webicode</h4>
                                <p> <span>Member Since:</span> March 2019</p>
                                <a href="companies-detail.html#." class="btn btn-inverse"> Follow</a> </div>
                            </li>
                            
                            <!-- Follows -->
                            <li>
                              <div class="inside">
                                <div class="thumb"> <img src="images/comp-img.png" alt="" class="img-responsive"> </div>
                                <h4>Webicode</h4>
                                <p> <span>Member Since:</span> March 2019</p>
                                <a href="companies-detail.html#." class="btn btn-inverse"> Follow</a> </div>
                            </li>
                            
                            <!-- Follows -->
                            <li>
                              <div class="inside">
                                <div class="thumb"> <img src="images/comp-img.png" alt="" class="img-responsive"> </div>
                                <h4>Webicode</h4>
                                <p> <span>Member Since:</span> March 2019</p>
                                <a href="companies-detail.html#." class="btn btn-inverse"> Follow</a></div>
                            </li>
                            
                            <!-- Follows -->
                            <li>
                              <div class="inside">
                                <div class="thumb"> <img src="images/comp-img.png" alt="" class="img-responsive"> </div>
                                <h4>Webicode</h4>
                                <p> <span>Member Since:</span> March 2019</p>
                                <a href="companies-detail.html#." class="btn btn-inverse"> Follow</a> </div>
                            </li>
                            
                            <!-- Follows -->
                            <li>
                              <div class="inside">
                                <div class="thumb"> <img src="images/comp-img.png" alt="" class="img-responsive"> </div>
                                <h4>Webicode</h4>
                                <p> <span>Member Since:</span> March 2019</p>
                                <a href="companies-detail.html#." class="btn btn-inverse"> Follow</a> </div>
                            </li>
                            
                            <!-- Follows -->
                            <li>
                              <div class="inside">
                                <div class="thumb"> <img src="images/comp-img.png" alt="" class="img-responsive"> </div>
                                <h4>Webicode</h4>
                                <p> <span>Member Since:</span> March 2019</p>
                                <a href="companies-detail.html#." class="btn btn-inverse"> Follow</a> </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Following -->
                  <div id="folowng" class="tab-pane fade">
                    <div class="profile-main">
                      <h3>Following</h3>
                      <div class="profile-in"> 
                        
                        <!-- Follows -->
                        <div class="followers-sec">
                          <ul>
                            <!-- Following -->
                            <li>
                              <div class="inside">
                                <div class="thumb"> <img src="images/comp-img.png" alt="" class="img-responsive"> </div>
                                <h4>Webicode</h4>
                                <p> <span>Member Since:</span> March 2019</p>
                                <a href="companies-detail.html#." class="btn btn-inverse"> Following</a> </div>
                            </li>
                            
                            <!-- Following -->
                            <li>
                              <div class="inside">
                                <div class="thumb"> <img src="images/comp-img.png" alt="" class="img-responsive"> </div>
                                <h4>Webicode</h4>
                                <p> <span>Member Since:</span> March 2019</p>
                                <a href="companies-detail.html#." class="btn btn-inverse"> Following</a> </div>
                            </li>
                            
                            <!-- Following -->
                            <li>
                              <div class="inside">
                                <div class="thumb"> <img src="images/comp-img.png" alt="" class="img-responsive"> </div>
                                <h4>Webicode</h4>
                                <p> <span>Member Since:</span> March 2019</p>
                                <a href="companies-detail.html#." class="btn btn-inverse"> Following</a> </div>
                            </li>
                            
                            <!-- Following -->
                            <li>
                              <div class="inside">
                                <div class="thumb"> <img src="images/comp-img.png" alt="" class="img-responsive"> </div>
                                <h4>Webicode</h4>
                                <p> <span>Member Since:</span> March 2019</p>
                                <a href="companies-detail.html#." class="btn btn-inverse"> Following</a> </div>
                            </li>
                            
                            <!-- Following -->
                            <li>
                              <div class="inside">
                                <div class="thumb"> <img src="images/comp-img.png" alt="" class="img-responsive"> </div>
                                <h4>Webicode</h4>
                                <p> <span>Member Since:</span> March 2019</p>
                                <a href="companies-detail.html#." class="btn btn-inverse"> Following</a> </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- ABOUT -->
    <section class="bg-white"> 
      <!-- Right Background -->
      <div class="main-page-section half_left_layout">
        <div class="main-half-layout half_right_layout"> </div>
        
        <!-- Left Content -->
        <div class="main-half-layout-container half_right_layout">
          <div class="about-us-con">
            <h3>Collaborate on a project</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac, cursus sed sapien. Cras posuere ligula ut blandit varius. </p>
            <ul class="count-info row">
              <li class="col"> <span class="counter">5000</span><span>+</span>
                <p>Collaboration</p>
              </li>
              <li class="col"> <span class="counter">750</span><span>+</span>
                <p>Projects</p>
              </li>
            </ul>
            <a href="companies-detail.html#." class="btn">Find a Jobs</a> </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>
    {{company.map_embed |safe}}
  </div>
  
  <!-- Footer -->
  <footer id="footer">
    <div class="footer-wrapper"> 
      
      <!-- Footer Top -->
      <div class="footer-top">
        <div class="footer-top-wrapper">
          <div class="container">
            <div class="row"> 
              <!-- About Block -->
              <div class="col-md-4">
                <div class="block block-companies">
                  <h3 class="block-title">Latest Companies</h3>
                  <div class="block-content">
                    <ul>
                      <li> <a href="companies-detail.html#."> <img src="images/company-img-1.jpg" alt="" class="img-responsive"> Webicode</a></li>
                      <li> <a href="companies-detail.html#."> <img src="images/company-img-2.jpg" alt="" class="img-responsive"> Webicode</a></li>
                      <li> <a href="companies-detail.html#."> <img src="images/company-img-3.jpg" alt="" class="img-responsive"> Webicode</a></li>
                      <li> <a href="companies-detail.html#."> <img src="images/company-img-4.jpg" alt="" class="img-responsive"> Webicode</a></li>
                      <li> <a href="companies-detail.html#."> <img src="images/company-img-5.jpg" alt="" class="img-responsive"> Webicode</a></li>
                      <li> <a href="companies-detail.html#."> <img src="images/company-img-6.jpg" alt="" class="img-responsive"> Webicode</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              
              <!-- Footer Links Block -->
              <div class="col-md-4">
                <div class="block block-links">
                  <h3 class="block-title"><span>Usefull Links</span></h3>
                  <div class="block-content">
                    <ul>
                      <li><a href="companies-detail.html#.">Theme Features</a></li>
                      <li><a href="companies-detail.html#.">Page Builder</a></li>
                      <li><a href="companies-detail.html#.">Privacy Policy</a></li>
                      <li><a href="companies-detail.html#.">Shop Rules</a></li>
                      <li><a href="companies-detail.html#.">Services</a></li>
                      <li><a href="companies-detail.html#.">Gallery Layout</a></li>
                      <li><a href="companies-detail.html#.">Theme Features</a></li>
                      <li><a href="companies-detail.html#.">Page Builder</a></li>
                      <li><a href="companies-detail.html#.">Privacy Policy</a></li>
                      <li><a href="companies-detail.html#.">Shop Rules</a></li>
                      <li><a href="companies-detail.html#.">Services</a></li>
                      <li><a href="companies-detail.html#.">Gallery Layout</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              
              <!-- Twitter Widget Block -->
              <div class="col-md-4">
                <div class="block block-twitter-widget">
                  <h3 class="block-title"><span>Twitter Widget</span></h3>
                  <div class="block-content">
                    <div class="twitter-item">
                      <div class="twitter-content"> Looking for an awesome CREATIVE WordPress Theme? Esquise was updated and optimized to run even better. Find it here: <a href="https://webicode.com/" target="_blank">https://webicode.com/</a> </div>
                      <div class="twitter-context"> <i class="fa fa-twitter"></i><span class="twitter-date">01 day ago</span> </div>
                    </div>
                    <div class="twitter-item">
                      <div class="twitter-content"> It is a long established fact that a reader will be distracted by the readable . Find it here: <a href="https://webicode.com/" target="_blank">https://webicode.com/</a> </div>
                      <div class="twitter-context"> <i class="fa fa-twitter"></i><span class="twitter-date">02 days ago</span> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        {%endblock%}
