{%extends 'base.html'%}


{% block content%}
  <!-- Content -->
  <div id="content"> 
    
    <!-- Login Register -->
    <section class="login-register padding-top-100 padding-bottom-150">
      <div class="container"> 
        
        <!-- Payments Steps -->
        <div class="inside-log-reg">
              
              <!-- Nav Tabs -->
              <ul class="nav" id="myTab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" id="login-tab" data-toggle="tab" href="#log" role="tab" aria-selected="true">Login</a> </li>
                <li class="nav-item"> <a class="nav-link " id="reg-tab" data-toggle="tab" href="#reg" role="tab" aria-selected="false">Register</a> </li>
              </ul>
              
              <!-- Login Register Inside -->
              <div class="tab-content" id="myTabContent"> 
                
                <!-- Login -->
                <div class="tab-pane fade show active" id="log" role="tabpanel" aria-labelledby="login-tab">
                  <form action="" method="post">{% csrf_token %}
                    <ul class="row">
                        {% if error %}<p style="color: red;">Wrong Username or Password..</p>{% endif %}
                      <!-- Name -->
                      <li class="col-md-12">
                        <label> Username Or Email Address
                          <input type="text" name="un" value="" placeholder="" class="form-control">
                        </label>
                      </li>
                      <!-- LAST NAME -->
                      <li class="col-md-12">
                        <label> Password
                          <input type="password" name="ps" value="" placeholder="" class="form-control">
                        </label>
                      </li>
                      
                      <!-- LOGIN -->
                      <li class="col-md-4">
                        <button type="submit" class="btn">LOGIN</button>
                      </li>
                      
                      <!-- FORGET PASS -->
                      <li class="col-md-4">
                        <div class="checkbox margin-top-15">
                          <input id="rembr" type="checkbox">
                          <label for="rembr"> Remember Me </label>
                        </div>
                        
                        <!-- FORGET PASS -->
                      <li class="col-md-4">
                        <div class="margin-top-15 text-right"> <a href="login-register.html#.">Forget Password</a> </div>
                      </li>
                    </ul>
                  </form>
                </div>
                
                <!-- Register -->
                <div class="tab-pane fade" id="reg" role="tabpanel" aria-labelledby="reg-tab">
                  <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                       <center><img id="output" style="border-radius: 50%;" width="200" height="200" /></center>
                    <ul class="row">
                      
                      <!-- Name -->
                      <li class="col-md-6">
                        <label> Full Name *
                          {{ form.name }}
                        </label>
                      </li>
                      
                      <!-- Name -->
                      <li class="col-md-6">
                        <label> Email Address *
                          {{ form.email }}
                           </label>
                      </li>
                      
                      <!-- Name -->
                      <li class="col-md-6">
                        <label> User Name *
                          <input type="text" name="un" value="" placeholder="" class="form-control">
                        </label>loadFile
                      </li>
                      <!-- Password -->
                      <li class="col-md-6">
                        <label> Password *
                          <input type="password" name="ps" value="" placeholder="" class="form-control">
                        </label>
                      </li>


                        <!-- Name -->
                      <li class="col-md-6">
                        <label> Number *
                         {{ form.number }}
                        </label>
                      </li>
                      <!-- Password -->
                      <li class="col-md-6">
                        <label> Profile Image *
                          {{ form.image }}
                        </label>
                      </li>


                         <li class="col-md-12">
                        <label> About You *
                          {{ form.about }}
                        </label>
                      </li>

                      
                      <!-- LOGIN -->
                      <li class="col-md-12 text-center">
                        <button type="submit" class="btn">Register</button>
                      </li>
                    </ul>
                  </form>
                </div>


              </div>
         
        </div>
      </div>
    </section>
  </div>
<script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
  {%endblock%}
