{%extends 'base.html'%}

{% load  static%}
{% block content%}
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script>
$(document).ready(function(){
  $(".{{d_type}}").addClass("selected");
  });
</script>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Banner -->
    <section class="sub-bnr">
      <div class="container">
        <h2>Professionals Available</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Professionals</li>
          </ol>
        </nav>
      </div>
    </section>
    
    <!-- Papular Professionals -->
    <main class="cd-main-content">
      <section class="padding-top-100 padding-bottom-100">
        <div class="container"> 
          
          <!-- filter -->
          <div class="cd-tab-filter-wrapper filter-wrapper">
            <div class="cd-tab-filter"> 
              
              <!-- filter Btns -->
              <ul class="cd-filters">
                <li class="placeholder"> <a data-type="all" href="#0">All</a> </li>
                <li class="filter"><a class="all" href="{% url 'pro_html' 'all'%}" data-type="all">All</a></li>
                <li class="filter" data-filter=".requests"><a class="requests" href="{% url 'pro_html' 'requests'%}" data-type="pro">Requests ({{con_req}})</a></li>
                <li class="filter" data-filter=".sent"><a class="sent" href="{% url 'pro_html' 'sent'%}" data-type="color-1">Sent ({{con_sent}})</a></li>
                <li class="filter" data-filter=".friends"><a class="friends" href="{% url 'pro_html' 'friends'%}" data-type="coporate">Friends ({{con_friend}})</a></li>

              </ul>
              
              <!-- Search -->
              <div class="filter-search"> <a class="fltr-srch collapsed" data-toggle="collapse" href="#filter-detail" role="button" aria-expanded="false" aria-controls="collapseExample"> Advance Search <i class="fa fa-filter"></i> </a> 
                
                <!-- Filter Details -->
                <div class="inside-from">
                  <div class="collapse" id="filter-detail">
                    <div class="card">
                      <form>
                        <ul>
                          <!-- Company Name -->
                          <li>
                            <label>
                              <input type="search" class="form-control" placeholder="Name">
                            </label>
                          </li>
                          <!-- City -->
                          <li>
                            <label>
                              <input type="text" class="form-control" placeholder="Skills">
                            </label>
                          </li>
                          <!-- Select -->
                          <li>
                            <label>
                              <select class="form-control">
                                <option>Information Technology</option>
                                <option>Finamce</option>
                                <option>Coporate</option>
                                <option>Freelance</option>
                                <option>Agency</option>
                              </select>
                            </label>
                          </li>
                          <li>
                            <button type="submit" class="btn">Search</button>
                          </li>
                        </ul>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section class="cd-gallery">
               {{test}}
            <ul>

<!--              all -->
              {% if d_type == 'all' %}
              {% for p in all_users %}
              {%if p.usr.username != request.user.username%}
              <li class="mix all ">
                <div class="team-inside">
                  <div class="img-sec"> <img src="{{ p.image.url }}" class="img-responsive" alt="{{p.name}}" >
                    <div class="hover-over">
                      <div class="position-center-center"> <a href="#" class="btn">Follow</a> <a href="{% url 'UserProfile' p.usr.username %}" class="btn">View Profile</a> </div>
                    </div>
                  </div>
                  <div class="txt-sec">
                    <h5><a href="#."> {{p.name}} </a></h5>
                    <span>{{p.profile_title}}</span> <span><i class="fa fa-map-marker"></i>{{p.location}}</span> </div>
                </div>
              </li>
              {%endif%}
              {%endfor%}
              {% endif %}
<!--              requests -->
              {% if d_type == 'requests' %}
              {% for p in all_users %}
              {%if p.usr.username != request.user.username%}
              <li class="mix all ">
                <div class="team-inside">
                  <div class="img-sec"> <img src="{{ p.image.url }}" class="img-responsive" alt="{{p.name}}" >
                    <div class="hover-over">
                      <div class="position-center-center"> <a href="{% url 'connections' 'Accept_Request' p.id %}" class="btn">Accept</a>
                        <a href="{% url 'connections' 'Reject_Request' p.id %}" class="btn">Reject</a> </div>
                    </div>
                  </div>
                  <div class="txt-sec">
                    <h5><a href="#."> {{p.name}} </a></h5>
                    <span>{{p.profile_title}}</span> <span><i class="fa fa-map-marker"></i>{{p.location}}</span> </div>
                </div>
              </li>
              {%endif%}
              {%endfor%}
              {% endif %}
<!--              sent-->
              {% if d_type == 'sent' %}
              {% for p in all_users %}
              {%if p.usr.username != request.user.username%}
              <li class="mix all ">
                <div class="team-inside">
                  <div class="img-sec"> <img src="{{ p.image.url }}" class="img-responsive" alt="{{p.name}}" >
                    <div class="hover-over">
                      <div class="position-center-center"> <a href="#" class="btn">Cancel</a>
                        <a href="{% url 'UserProfile' p.usr.username %}" class="btn">View Profile</a> </div>
                    </div>
                  </div>
                  <div class="txt-sec">
                    <h5><a href="#."> {{p.name}} </a></h5>
                    <span>{{p.profile_title}}</span> <span><i class="fa fa-map-marker"></i>{{p.location}}</span> </div>
                </div>
              </li>
              {%endif%}
              {%endfor%}
              {% endif %}
<!--              friends-->
              {% if d_type == 'friends' %}
              {% for p in all_users %}
              {%if p.usr.username != request.user.username%}
              <li class="mix all ">
                <div class="team-inside">
                  <div class="img-sec"> <img src="{{ p.image.url }}" class="img-responsive" alt="{{p.name}}" >
                    <div class="hover-over">
                      <div class="position-center-center"> <a href="#" class="btn">UnFollow</a>
                        <a href="{% url 'UserProfile' p.usr.username %}" class="btn">View Profile</a> </div>
                    </div>
                  </div>
                  <div class="txt-sec">
                    <h5><a href="#."> {{p.name}} </a></h5>
                    <span>{{p.profile_title}}</span> <span><i class="fa fa-map-marker"></i>{{p.location}}</span> </div>
                </div>
              </li>
              {%endif%}
              {%endfor%}
              {% endif %}
            </ul>
            <div class="clearfix"></div>
            
            <!-- Btn Center -->
            <div class="btn-center margin-top-30 text-center"> <a href="#." class="btn btn-inverse">View More</a> </div>
          </section>
        </div>
      </section>
    </main>
    
    <!-- ABOUT -->
    <section class="bg-white"> 
      <!-- Right Background -->
      <div class="main-page-section half_left_layout">
        <div class="main-half-layout half_right_layout"> </div>
        
        <!-- Left Content -->
        <div class="main-half-layout-container half_right_layout">
          <div class="about-us-con">
            <h3>Collaborate on a project</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh dolor, efficitur eget pharetra ac, cursus sed sapien. Cras posuere ligula ut blandit varius. </p>
            <ul class="count-info row">
              <li class="col"> <span class="counter">5000</span><span>+</span>
                <p>Collaboration</p>
              </li>
              <li class="col"> <span class="counter">750</span><span>+</span>
                <p>Projects</p>
              </li>
            </ul>
            <a href="#." class="btn">Find a Jobs</a> </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </section>
  </div>

  <script src="{% static 'js/jquery.mixitup.min.js'%}"></script>

 {% endblock %}